build
dist
.venv
uploads/*
!uploads/keepme.json
static/videos/*
static/books/*
tokenforwsl.txt
!static/videos/keepme.json
!static/books/keepme.json
!static/videos/spinningfish.mp4
!static/videos/spinningtoilet.mp4
!static/videos/video_links.json
__pycache__/
todo.txt
wslaccestoken.txt
pipermodels/*
!pipermodels/keepme.json
!pipermodels/en_US-amy-medium.onnx
!pipermodels/en_US-amy-medium.onnx.json
!pipermodels/en_US-amy-medium_MODEL
booklist.json
foolingaroud.py
other
.venvlower
.venvforcoquitts
coqui-ai-TTS
helpers/brr_exporter.py
helpers/imagerelated.py
exporter.py
exported/*
!exported/keepme.json
helpers/__pycache__
build.py
foolingaroud.py
.vscode
.venv-downgrade
run.bat
kokoromodels/
!kokoromodels/keepme.json
.locks
en_core_web_sm
nltk_data
!nltk_data/keepme.json
foolingaround.py
*.wav
.*venv
*.m4a
*.db

.testingsomething
node_modules
package.json
package-lock.json
usefullcommands.txt
chatterbox
foolingaround.cmd
foolingaround.exe
readerengine.py