build
dist
.venv
uploads/*
!uploads/keepme.json
static/videos/*
static/books/*
tokenforwsl.txt
!static/videos/keepme.json
!static/books/keepme.json
!static/videos/spinningfish.mp4
!static/videos/spinningtoilet.mp4
!static/videos/video_links.json
__pycache__
todo.txt
wslaccestoken.txt
pipermodels/*
!pipermodels/keepme.json
!pipermodels/en_US-amy-medium.onnx
!pipermodels/en_US-amy-medium.onnx.json
!pipermodels/en_US-amy-medium_MODEL
booklist.json
foolingaroud.py
other
