html{
    width: 100vw;
    height:100vh;
}


body{
    background-color: rgb(24, 24, 24);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.body-color{
    background-color:  rgb(24, 24, 24);
}

#statedisplay{
    height:20px
}



.parent-container {
    position: relative;
}

.text-container{
    position: absolute;
    bottom:50px;
    width: auto;
    text-align: center;
    z-index: 3;
    display: flex ;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
 }

.subtitle{
    color: whitesmoke;
    padding-right: 5px;
    padding-left: 5px;
    background-color:#1f1f1f;
    height: 100px;
    font-size: 1.2rem;
    overflow: auto;
    font-family: sans-serif;

}



.double-height{
    height: 250vh !important;
}


.video-container{
    position: absolute;
    width:80vw;
    height: 40vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center
}

.fake-footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

.cover-page-video{
    height: 80% !important;
    width: 80% !important;
    max-height: 600px;
    padding-left: 12px;
    padding-right: 12px;

}

.iframe-video-sizing{
    aspect-ratio: 16 / 9;
    max-width: 1020px;
    width: 100%;
    
}




h3 {
  overflow-wrap: anywhere;   /* modern browsers */
  word-wrap: break-word;     /* legacy support */
  word-break: break-word;    /* extra fallback */
}
a {
  overflow-wrap: anywhere;   /* modern browsers */
  word-wrap: break-word;     /* legacy support */
  word-break: break-word;    /* extra fallback */
}



.dropzone{
    align-self: center;
    height: 200px;
    width: 200px;
    border: black 2px dotted;
    padding:15px;
    display: flex;
    flex-direction: column;
    vertical-align:middle;
    background-color: #555;
    align-items: center;
    justify-content: center;
}
