
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Root Reader</title>
    
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='brainrootreadericon.png')}}">
    <!--bootstrap style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/icons/bootstrap-icons.css')}}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>


</head>
<body class="px-2">
    <!--modal goes here-->
    <dialog id="gotopagedialog" class="bg-dark text-light">
        <div class="container">
            <button type="button" class="btn-close float-end bg-dark text-light" onclick="closegoto();" aria-label="Close"></button>
            <h2>What page do you want to visit:</h2>
            <div class="d-flex">
                <input id="jumpto" type="number">
                <button class="btn btn-outline-light" onclick="jumptopage();" >Visit</button>      
            </div>
        </div>
    </dialog>
    <div class="row">
        <!--
        contains the side panel that can be toggled off or on
        -->
        <div class="offcanvas offcanvas-start body-color" tabindex="-1" id="brainrootoffcanvas" aria-label="left side panel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light text-center" >Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">             
                <li class="list-group-item body-color">
                    <h5 class="text-light">Your books</h5>
                    <hr>
                    <ul class="list-group list-group-flush body-color">
                        {% for safe_b_ookname, boo_k_name in books.items() %}
                        <li class="list-group-item body-color">
                            <a href="/{{safe_b_ookname}}_readable.json"  onmouseleave="showtitlefull(this);"  data-show="false" data-text-short="{{boo_k_name[:20]}}" data-text-full="{{boo_k_name}}" title="{{boo_k_name}}">{{boo_k_name[:20]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item body-color">
                    <a href="{{url_for('add_video')}}">Add video</a>
                </li>
                <li class="list-group-item body-color">
                    <a href="{{url_for('test_image_quality')}}">Test image quality</a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-9 col-sm-12  border border-dark">
            <!--
            contains the player and the overlay text    
            contains the player bar
            -->
            <div class="d-flex">
                <!--containes  the side line and the the play itself-->
                <div class="d-flex d-none d-md-flex flex-column flex-shrink-0 text-white p-3 body-color border-end border-dark gap-4" style="width: 60px; height: 100vh;">
                    <a title="home button" aria-label="home button" class="navbar-brand" href="/">
                        <img src="{{url_for('static',filename='brainrootreadericon2_white.png')}}" alt="app icon, its a brain with roots at the bottom," width="30" height="30" class="d-inline-block align-text-top">
                    </a>
                    <button
                        aria-label="button for opening the left-sidebar"
                        title="opens the left-sidebar"
                        class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                        data-bs-toggle="offcanvas" data-bs-target="#brainrootoffcanvas" role="button" aria-controls="brainrootoffcanvas">
                        <i class="bi bi-layout-sidebar h5"></i>
                    </button>
                    <button
                        aria-label="opens the jump to dialog: button j"
                        title="opens the jump to dialog: button j"
                        onclick="opengoto();"
                        class="btn p-0 border-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                    >
                        <i class="bi bi-box-arrow-up-right h5"></i>
                    </button>
                    <button
                        class="btn p-0 border-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                        aria-label="bookmark page: button b"
                        title="bookmark page: button b"
                        onclick="setbookmark();"
                    >
                        <i id="bookmarkicon" class="bi bi-bookmark h5"></i>
                    </button>
                    <button
                        class="btn p-0 border-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                        aria-label="opens the origin of the current page, only works with pdf : button o"
                        title="opens the origin of the current page, only works with pdf : button o"
                        onclick="open_page_origin();">
                        <i  class="bi bi-eye h5"></i>
                    </button>
                    <a class="p-0 text-center" href="/settings">
                        <i aria-label="opens the settings page" title="opens the settings page" type="button" class="bi bi-gear h5"></i>
                    </a>
                </div>
                <div class="d-flex flex-column justify-content-between vh-100 flex-grow-1">
                <div class="player_container">
                    <div class="pb-3 " id="lastpageindicator">
                        <!--
                        Show the last page you were listening too and it also shows the bookmark
                        -->
                        <div class="d-flex justify-content-around py-2">
                            <small id="lastpageindicatortitle"></small>
                            <small id="bookmarkindicator"></small>
                        </div>

                    </div>
                    <h3 onclick="showtitlefull(this);" data-show="false" data-text-short="{{readable_name[:20]}}" data-text-full="{{readable_name}}" id="books_name">{{readable_name[:50]}}</h3>
                    <audio id="pageaudio" src="#"></audio>
                    <video id="thevideo" class="cover-page-video" autoplay loop muted src="{{url_for('static',filename='videos/dancingskeletons.mp4')}}"></video>
                    <div class="container">
                        <p class="subtitle" id="pagedata"></p>
                        <div class="text-center">
                            <p id="statedisplay"></p>
                        </div>
                    </div>
                </div>
                    <div>
                        <div aria-label="bottom control panel" class="d-flex justify-content-between px-4 py-2 border-top border-dark" id="controls">
                            <button
                                class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                                aria-label="previous page: button p" title="previous page: button p" onclick="getPreviousPage()"
                            >
                            <i class="bi bi-chevron-left h5"></i>
                            </button>
                            <button
                                class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                                aria-label="start reading page: button s" title="start reading page: button s" onclick="read_page();" 
                            >
                            <i  class="bi bi-play h5"></i>
                            </button>
                            <button
                                class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                            aria-label="next page: button n" title="next page: button n" onclick="getNextPage()">
                                <i class="bi bi-chevron-right h5" ></i>
                            </button>
                            <button
                                class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                                aria-label="pause/continue page: button space" title="pause/continue page: button space" id="pause_reading_btn" onclick="pause_reading();">
                                <i class="bi bi-pause h5" ></i>
                            </button>
                            <div class="d-flex justify-content-between">
                                <button
                                    class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                                    aria-label="mute page: button m" title="mute page: button m" type="button" id="speakericon" onclick="mutereading();"
                                >
                                    <i class="bi bi-volume-up px-3 h5"></i>
                                </button>
                                <input aria-label="audio range elem: buttons increase +, decrease -" title="audio range elem: buttons increase +, decrease -" class="form-range" id="volume" name="volume" min="0" max="100" value="100" step="5" onchange="setvolumeofspeaker(this)" type="range">
                            </div>
                            <button
                                class="btn p-0 bg-transparent text-white text-center focus-ring focus-ring-light"
                                aria-label="open jump to page dialog: button j" title="open jump to page dialog: button j" type="button" onclick="opengoto();">
                                <i class="bi bi-box-arrow-up-right h5"></i>
                            </button>
                        </div>
                </div>

            </div>

            </div>

        </div>
        <div class="col-lg-3 col-sm-12 border border-dark vh-100 d-flex flex-column">
            <!--
            right side should contain the sentences data so you can rewind
            -->
            <div>
                <h5 id="pageindicator">current page: {{current_page}}</h5>
                <hr>
            </div>
            <div class="flex-grow-1 overflow-auto">
                <div id="sentence_scroll_container" class="list-flush px-2 double-height">
                <!-- side indicator that shows the current pages sentences -->
                </div>
            </div>

        </div>




    </div>
    <script src="{{url_for('static',filename='js/fuckedtts.js')}}"></script>
    <script src="{{url_for('static',filename='js/read_in_browser.js')}}"></script>
    <script src="{{url_for('static',filename='js/videorelated.js')}}"></script>
    <script>
    var volume = document.getElementById('volume')
    var bookmarkpageindicatortitle = document.getElementById("lastpageindicatortitle")



    var player;
    var pageData = {{page|tojson}}
    const speak_synthesys = window.speechSynthesis
    const sentence_text = document.getElementById("pagedata")
    var current_page = {{current_page|tojson}}
    const bookname = {{bookname|tojson}}
    var thevideo = document.getElementById("thevideo")
    const pause_reading_btn = document.getElementById("pause_reading_btn")
    const sentence_scroll_container = document.getElementById("sentence_scroll_container")
    const speakericon = document.getElementById("speakericon")
    const bookmarkicon = document.getElementById("bookmarkicon")
    const statedisplay = document.getElementById("statedisplay")

    var test_number = 0;

    var jumpto = document.getElementById("jumpto")
    var pauseaudio = false
    var sentence_data;
    var page_data = null
    var current_sentence = 0
    var pageaudio =document.getElementById("pageaudio")
    var gotopagedialog = document.getElementById("gotopagedialog")
    var pageindicator = document.getElementById("pageindicator")
    var previous_vol
    var indeterminate_loader_array = ["Making audio - . . ","Making audio . - . ","Making audio . . - "]
    var indeterminate_loader_current = 0;
    var user_is_scrolling
    var setstatedisplay_timeout


    function setvolumeofspeaker(that){
        if (volume.value != 0){
            speakericon.classList.replace("bi-volume-mute","bi-volume-up")
        }
        pageaudio.volume = parseInt(volume.value) / 100
    }

    function inpendent_loader(){
        // cycles the strings  . . -
        // . - .
        // - . .
        if (indeterminate_loader_current == 2){
            indeterminate_loader_current = 0;
        }
        else{
            indeterminate_loader_current ++;
        }
        sentence_text.textContent = indeterminate_loader_array[indeterminate_loader_current]
    }



    function mutereading(){
        //mutes the reading or unmutes
        if (volume.value == 0){
            volume.value = previous_vol
            setstatedisplay("[ unmuted ]",false,2000)
            speakericon.classList.replace("bi-volume-mute","bi-volume-up")
        }
        else{
            previous_vol = volume.value
            volume.value = 0
            setstatedisplay("[ muted ]",false,2000)
            speakericon.classList.replace("bi-volume-up","bi-volume-mute")
        }
        setvolumeofspeaker(volume)
    }


    function setbookmark(){
        // saves the current page as a bookmark, the next time you open the book it show that page on the top of the page
        bookmarkicon.title = `Bookmaked page ${current_page}.`
        bookmarkicon.classList.replace("bi-bookmark","bi-bookmark-fill")
        setstatedisplay("[ bookmarked ]",false,3000)
        localStorage.setItem(`${bookname}_bookmark`,current_page)
    }
    function getlastvisited(){
        // set the last visited page in the top
        var pagevisited = localStorage.getItem(bookname)
        var bookmarked = localStorage.getItem(`${bookname}_bookmark`)


        bookmarkpageindicatortitle.innerHTML = `last visited page: <a href="/${bookname}?page=${pagevisited}">[ ${pagevisited} ]</a>`
        document.getElementById("bookmarkindicator").innerHTML = `last bookmark placed on page: <a href="/${bookname}?page=${bookmarked}">[ ${bookmarked} ]</a>`
    }


    function setlastvisited(){
        localStorage.setItem(bookname,current_page)
    }



    function open_page_origin(){
        var url = `/openorigin/{{readable_name}}?page=${current_page}`
        fetch(url).then(
            response=>{
                response.json()
            }
        ).then(data=>{
            console.log(data)
        })
    }


    function setstatedisplay(text,permanent,dissapearin=5){
        // example usage
        // setstatedisplay("[ paused ]",true)
        try{
            clearTimeout(setstatedisplay_timeout)
        }
        catch{
            console.log("was not scheduled previously")
        }
        if (permanent == true){
            statedisplay.textContent = text
        }
        else{
            statedisplay.textContent = text
            setstatedisplay_timeout =  setTimeout(()=>{
                statedisplay.textContent = ""
            },dissapearin)
        }
    }


    function pause_reading(){
        if (!pageaudio.paused){
            pageaudio.pause()
            // adding visual here
            setstatedisplay("[ paused ]",permanent=true)
            if (player){
                pauseVideo()
            }
            thevideo.pause()

        }
        else{
            setstatedisplay("[ play ]",permanent=false,dissapearin=5000)
            pageaudio.play()
            if (player){
                playVideo()
            }
            thevideo.play()
        }        
    }


    function closegoto(){
        gotopagedialog.close()





    }
    function openoptionsmenu(){
        // shows a small menu wher you can place a bookmark for the current page
        // allows jumping to an other page
        // volume control
    }






    function opengoto(){
        gotopagedialog.showModal()
        jumpto.focus()
        jumpto.select()

    }

    function getPreviousPage(){
        pauseaudio = true
        pageaudio.pause()
        current_page --;
        jumpto.value = current_page
        jumptopage()
    }

    function getNextPage(){
        pauseaudio = true
        pageaudio.pause()
        current_page++;
        jumpto.value = current_page
        jumptopage()

    }



    function showtitlefull(that){
        if (that.getAttribute("data-show") == "true"){
            that.setAttribute("data-show",false)
            that.textContent = that.getAttribute("data-text-full")

        }
        else{
            that.textContent = that.getAttribute("data-text-short")
            that.setAttribute("data-show",true)
        }
    }

    function indicate_sentence(){
        // highlights the current sentence that is being read
        // idea: either scrollspy and scroll to the sentence
        //<div class="py-2 mx-2">
        //    <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quibusdam corporis necessitatibus a excepturi, eos sunt delectus, incidunt quo non neque soluta praesentium, dolorum cum suscipit eum nam? Architecto, optio.</p>
        //</div>
        console.log("sentence indicator not implemented yet")
    }


    function fill_sentence_list(sentences_){
        // fills the right side sentence list with
        sentence_scroll_container.innerHTML = ""
        for (var s in sentences_){
            let thediv = document.createElement("div")
            let thepara = document.createElement("p")

            thediv.classList.add("py-2")
            thediv.classList.add("mx-2")

            thepara.classList.add("small")

            thepara.textContent = sentences_[s]
            thediv.appendChild(thepara)

            thediv.id = s
            sentence_scroll_container.appendChild(thediv)
        }
    }



    function indicate_page(){
        pageindicator.textContent = `Current Page ${current_page}` 
    }

    function make_page(what_page){
        if (!what_page){
            var url = `/api/makepage/${bookname}/${current_page}`
        }
        else{
            var url = `/api/makepage/${bookname}/${what_page}`

        }
        return new Promise((resolve,reject)=>{
            fetch(url).then(
                response =>{
                    return response.json()
                }
            ).then(data=>{
                resolve(data)
            }).catch(error=>{
                reject(error)
            })
        })
    }






    function jumptopage(){
        /*jumps to the page that is currently selected in jumpto: the page input dialog*/
        var current_url = window.location.href
        console.log(current_url)
        var url_ = new URL(current_url)
        var searchparams = url_.searchParams
        searchparams.set("page",jumpto.value)
        url_.search= searchparams.toString()
        var new_url = url_.toString()
        synth.cancel()
        window.location.href = new_url
}

    function load_page_data(sentence_d){
        filename = sentence_d.filename
        sentence = sentence_d.sentence 
        console.log("filename in load page:",filename)
        console.log("the sentence in load page:",sentence)
        sentence_text.textContent = sentence
        
        return new Promise((resolve,reject)=>{
            pageaudio.onerror = async ()=>{
                await monkey_patch_reader(sentence,pause_reading_btn)
                resolve(true)
            }
            pageaudio.setAttribute("src",filename)
            pageaudio.addEventListener("ended",()=>{
                if (!pauseaudio){
                    resolve(true)
                }
                else{
                    reject()
                }
            },{ once: true })
            pageaudio.play()
        })
    }

    function scroll_sentence_into_view(element_id){
        var theelement = document.getElementById(element_id)
        if (!user_is_scrolling){
            theelement.scrollIntoView(
            {
                behavior:"smooth",
                block:"start",
                inline:"nearest"
            }
        )
        }

    }



    function extract_sentences(data){
        var local_sentence_data = data.sentence_data
        var keys = Object.keys(local_sentence_data)
        var i = 0
        var local_sentences = Array() 
        for (i; i < keys.length; i++ ){
            let key = keys[i.toString()] 
            console.log("reading sentence:", local_sentence_data[key])
            local_sentences.push(local_sentence_data[key].sentence)
        }
        console.log("extact setences found:", local_sentences)
        return local_sentences
    }




    async function read_page(starting_idx=0){
        setlastvisited()
        pauseaudio = false
        if (player && player.getPlayerState() === YT.PlayerState.PAUSED) {
            playVideo();
        }

        //playVideo()
        setstatedisplay("[ generating audio ]",true)
        var inpendent_loader_timeout = setInterval(()=>{
            inpendent_loader()
        },500)
        var data = await make_page()
        clearInterval(inpendent_loader_timeout)
        setstatedisplay("[ play ]",false,2000)
        setTimeout(()=>{
            console.log("second make page is running.")
            make_page(Number(current_page)+1)
        },10000)
        setTimeout(()=>{
            console.log("third make page is running")
            make_page(Number(current_page)+2)
        },20000)
        console.log(data)
        sentence_data = data.sentence_data
        indicate_page()
        fill_sentence_list(extract_sentences(data))
        
        var keys = Object.keys(sentence_data)
        var i = starting_idx
        for (i; i < keys.length; i++ ){
            let key = keys[i.toString()] 
            console.log("reading sentence:", sentence_data[key])
            scroll_sentence_into_view(key)
            if (!pauseaudio){
                // perfect place to a call sentence indicator here
                await load_page_data(sentence_data[key])
            }
            else{
                return
            }
        }
        current_page++;
        jumpto.value = current_page
        setTimeout(read_page,0)
        return
    }

    function hidebookmarkindicator(){
        setTimeout(()=>{
            document.getElementById("lastpageindicator").remove()
        },7000)
    }

    getlastvisited()
    hidebookmarkindicator()
    set_video_source("thevideo")


    function increase_vol(){
        console.log("increase vol called")
        volume.value = parseInt(volume.value) + 5
        setvolumeofspeaker(volume)
    }

    function decrease_vol(){
        volume.value = parseInt(volume.value) - 5
        setvolumeofspeaker(volume)
    }

    // here i am gonna map the buttons to the functions



    function jumpto_bookmark(){
        var current_bookmark = localStorage.getItem(`${bookname}_bookmark`)
        jumpto.value = current_bookmark ? current_bookmark : 0
        jumptopage()

    }

    sentence_scroll_container.addEventListener("mouseenter",()=>{
        user_is_scrolling = true
    }
    )
    sentence_scroll_container.addEventListener("mouseleave",()=>{
        user_is_scrolling = false
    })


    window.addEventListener("keypress",(event)=>{
        // 


        var the_key = event.key
        var key_code = event.keyCode
        console.log(the_key)
        console.log(key_code)


        if (the_key == " " && key_code == 32)
        {
            pause_reading()
        }

        if (the_key == "m"){
            mutereading()
        }

        if (the_key == "+"){
            increase_vol()
        }

        if (the_key == "-"){
            decrease_vol()
        }


        if (the_key == "s"){
            read_page()
        }

        if (the_key == "j")
        {
            event.preventDefault()
            opengoto()
        }


        if (the_key == "Enter"){
            console.log("key is enter")
            if (document.activeElement == jumpto){
                jumptopage()
            }
        }


        if (the_key == "b"){

            if (document.activeElement == jumpto){
                jumpto_bookmark()
            }
            else{
                setbookmark()
            }
        }


        if (the_key == "p"){
            getPreviousPage()
        }


        if (the_key == "n"){
            getNextPage()
        }


        if (the_key == "o"){
            open_page_origin()
        }

    })

    jumpto.value = current_page
    </script>


</body>
</html>

